
  
  @media (min-width: 576px) {
    .fnt-res {
      font-size: 0.8rem;
    }
  }
  
  @media (min-width: 768px) {
    .fnt-res {
      font-size: 1rem;
    }
  }
  
  @media (min-width: 992px) {
    .fnt-res {
      font-size: 2rem;
    }
  }